* {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.text-primary {
  color: blueviolet;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 30px;
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.btn-primary {
  height: 52px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  background: chocolate;
  color: white;
  border: 0;
  padding: 12px 36px;
}
.bannar {
  display: flex;
  align-items: center;
  margin: 0 200px;
  justify-content: space-between;
}
.bannar-sub-title {
  font-weight: 600;
  font-size: 27px;
  margin-bottom: 10px;
}
.bannar-title {
  font-weight: 800;
  font-size: 47px;
}
.bannar-descryption {
  color: rgb(53, 15, 15);
  margin-bottom: 20px;
}
.header {
  background: #fff;
  /* background-image: url('img/bg-1.png'); */
  background-image: url("img/header-bg.png");
  background-repeat: no-repeat;
  background-position: top, right;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section */

.about {
  margin-top: 130px;
  background: #fbfbfb;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  box-shadow: -6px 5px 83px -13px rgba(9, 18, 0, 0.5);
}
.section-description {
  color: cadetblue;
  font-size: 12px;
  margin-bottom: 30px;
}
.section-title {
  text-align: center;
  /* margin-bottom: 20px; */
  margin-top: 30px;
  margin-bottom: 50px;
}
.about-info-continer {
  display: flex;
  justify-content: space-around;
}
.about .info-title {
  font-weight: 400;
  color: blueviolet;
}
.skill img {
  width: 42px;
}
.what-i-do {
  margin-top: 150px;
}
.skill-continer {
  display: flex;
  gap: 20px;
}
.skill-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.skill {
  background: #fcfafa;
  box-shadow: -6px 5px 83px -13px rgba(9, 18, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 50px;
  height: 250px;
  /* width: 300px; */

}
.skill-description {
  margin-left: 5px;
  margin-right: 5px;
}
/* resume */
/* .resume{
  display: flex;
} */
.detiles{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.resume-detiles{
  width: 400px;
  margin-top: 30px;
}
.para{
  margin-top: 30px;
  text-align: justify;
}



/* contact */
.contact{
  display: flex;
  gap: 100px;
  background: #f6f6f6;
  box-shadow: 0px 0px 59px 0px rgba(29, 27, 22, 0.5);
    padding: 140px 200px;
    margin-bottom: 30px;
    border-radius: 14px;
  
}
.contact .section-title{
  text-align: left;
}
.contact input, textarea{
  margin: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  
}
input{
  padding: 12px;
}
.facbook-icon a, li{
  display: flex;
  margin-top: 10px;
  text-decoration: none;
  
}
.foter-title{
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  
}